header{
    background-color: rgb(240, 236, 214);
    color: rgb(141, 98, 89);
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 500%;
    margin-bottom: 10px;
    margin-top: 1px;
}

.headshot{
    width: 15%;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2{
    font-size: 25px;
    font-style: italic;
}

nav{
    display: inline;
    justify-content: space-around;
    margin-bottom: 90px;
}

main{
    background-color: rgb(198, 208, 209);
    color: rgb(10, 65, 113);
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 20px
}

h3{
    display:flex;
    padding: 20px;
    font-size: 60px;
}

.aboutmepic{
    display: flex;
    width: 15%;
    border-radius: 50%;
    padding: 2px;
}

p1{
    padding: 50px;
}

.projects{
    position: relative;
    display: inline-block
}

h4{
    font-size: 60px;
}

h5{
    font-size: 60px;
}